.sidebar-wrapper .menu { 
    border-radius: 0;
    padding: 0px;
}

.sidebar-wrapper .menu .sidebar-link {
    align-items: center;
    border-radius: 0;
    color: black;
    display: block;
    display: flex;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    transition: all 0.5s;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}